body {
  background-image: url("bg-small-basic.png");
  background-attachment: fixed;
}
* {
  border-radius: 0;

  /* word breaks/hyphenation... */

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
p {
  text-align: justify;
}
a:hover {
  background-color: #ff8;
}
a:active {
}
a:link {
  text-decoration: underline;
  color: #00f;
}
a:visited {
  color: #553;
}
a.navbar-brand {
  font-weight: 900;
}
a.navbar-brand:link {
  text-decoration: none;
}
nav.navbar {
  border-left: 5px solid #666;
}

div.outside {
  background-color: rgba(246, 246, 230, .75); /*#f6f6e6, slightly transparent */
  border-left: 5px solid #666;
  padding: 0;
  padding-bottom: 256px;
  margin-bottom: 64px;
}
div.banner {
  padding-top: 50px;
  background-color: #ff7;
}
div.banner .anchor {
  margin-top: -55px;
  padding-top: 55px;
  margin-bottom: 0px;
}
div.body {
  padding-top: 10px;
  padding-bottom: 64px;
  background-color: #ffe;
  border-left: 5px solid #ffb;
}
div.body .anchor {
  margin-top: -55px;
  padding-top: 55px;
}
div.body div.post {
  background-color: #ffe;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
}
div.body img.avatar {
  float: right;
  margin: 0px 12px;
  border: 1px dotted #ccc;
}
div.rhs {
  text-align: right;
}
div.guide {
  padding-top: 30px;
  text-align: center;
}

/* Jumbotron */
.container .jumbotron {
  padding: 50px 80px;
  text-align: left;
  border-radius: 0;
}
div.jumbotron h1 {
  font-weight: 900;
  font-size: 500%;
}

div.preview-window {
  padding: 4px;
  width: 100%;
  border: 1px dotted #ccc;
}

/* Scrollspy requires this... */
body, html { height:100%; }
body > .anchor { min-height:100%; }

/* Nav-tabs */
ul.nav {
  margin: 0 auto; 
  opacity: 0.975;
  /*margin-left: 50px;*/
}
ul.nav-tabs {
  font-size: 1.35em;
  font-weight: 800;
  width: 80px;
  margin-top: 0px;
  margin-left: 20px;
  background-color: #ffe;
}
ul.nav-tabs.affix {
  top: 80px;
  margin-left: 20px;
}

ul.nav-tabs li {
  margin: 0;
  /*border-left: 5px solid #333;*/
  /*border-top: 1px solid #ddd;*/
}
ul.nav-tabs li:first-child {
  border-top: none;
}
ul.nav-tabs li a {
  margin: 0;
  padding: 2px 16px;
  border-radius: 0;
  border: 0 solid #ff8;
  border-left: 5px solid #ffb;
}
ul.nav-tabs li a:hover {
  background-color: #ff8;
  text-decoration: underline;
  padding: 2px 16px;
  border: 0 solid #ff8;
  border-left: 5px solid #ff4;
}
ul.nav-tabs li.active a {
  color: #fff;
  background: #333;
  border: 0 solid #333;
  border-left: 5px solid #666;
}
ul.nav-tabs li.active a:hover {
  color: #ff8;
  background: #333;
  border: 0 solid #333;
  border-left: 5px solid #666;
}

/* Highlights for 'posts' */
div.anchor div.post {
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 3px 15px;
  border-left: 5px solid #ffd;
}
div.anchor:nth-child(odd) div.post {
  background-color: #ffd;
  border-left: 5px solid #ffc;
}
div.anchor.trg div.post {
  background-color: #ffc;
  border-left: 5px solid #666;
}
div.anchor.trg:nth-child(odd) div.post {
  background-color: #ffffc4;
  border-left: 5px solid #666;
}
div.panel {
  background-color: #ffd;
}
div.panel-heading, .panel-title {
  background-color: #ffb !important;
}
ul.list-group, li.list-group-item {
  background-color: #ffe;
}

ul.pagination li a, ul.pagination li:first-child a, ul.pagination li:last-child a {
  border-radius: 0 !important;
}
ul.pagination li a {
  margin: 0;
  padding: 4px 10px;
  border-radius: 0;
  background-color: #ffe;
  border: 0 solid #ff8;
  border-bottom: 5px solid #ffb;
}
ul.pagination li a:hover {
  background-color: #ff8;
  text-decoration: underline;
  padding: 4px 10px;
  border: 0 solid #ff8;
  border-bottom: 5px solid #ff4;
}
ul.pagination li.active a {
  color: #fff;
  background: #333;
  border: 0 solid #333;
  border-bottom: 5px solid #666;
}
ul.pagination li.active a:hover {
  color: #ff8;
  background: #333;
  border: 0 solid #333;
  border-bottom: 5px solid #666;
}
ul.pagination li.disabled a {
  color: #999;
  background-color: #ffe;
  border: 0 solid #333;
  border-bottom: 5px solid #eee;
}

table td {
/*  text-align: center;*/
}
blockquote {
  font-size: 100%;
  margin: 0;
}

/* Custom CSS for frist post*/
div[id='1'] div.post {
  font-size: 1.25em;
}
/*div[id='1'] div.post::first-letter {
  font-size: 2.8em;
  line-height: 1em;
  margin-right: 2px;
  display: block;
  float: left;
}*/

/* select/select2 */
.select2-container, .select2-dropdown {
    border-radius: 0 !important;
    background-color: #ffe !important;
    border: 1px dotted #ccc !important;
}
select, .select2-search, .select2-search__field, .select2-search--inline,
    .select2-selection, .select2-selection__rendered {
    border-radius: 0 !important;
    background-color: #ffe !important;
    border: 0 !important;
}
.select2-selection__choice {
    border-radius: 0 !important;
    background-color: #ffc !important;
    border: 1px dotted #ccc !important;
}
.select2-results {
    border-radius: 0 !important;
    background-color: #fff !important;
}


/* Colour swatches */
/*.swatches {
  text-align: center;
}*/
.swatches div button#x0 {
  background-color: hsl(0, 55%, 55%);
}
.swatches div button#x24 {
  background-color: hsl(24, 55%, 55%);
}
.swatches div button#x48 {
  background-color: hsl(48, 55%, 55%);
}
.swatches div button#x72 {
  background-color: hsl(72, 55%, 55%);
}
.swatches div button#x96 {
  background-color: hsl(96, 55%, 55%);
}
.swatches div button#x120 {
  background-color: hsl(120, 55%, 55%);
}
.swatches div button#x144 {
  background-color: hsl(144, 55%, 55%);
}
.swatches div button#x168 {
  background-color: hsl(168, 55%, 55%);
}
.swatches div button#x192 {
  background-color: hsl(192, 55%, 55%);
}
.swatches div button#x216 {
  background-color: hsl(216, 55%, 55%);
}
.swatches div button#x240 {
  background-color: hsl(240, 55%, 55%);
}
.swatches div button#x264 {
  background-color: hsl(264, 55%, 55%);
}
.swatches div button#x288 {
  background-color: hsl(288, 55%, 55%);
}
.swatches div button#x312 {
  background-color: hsl(312, 55%, 55%);
}
.swatches div button#x336 {
  background-color: hsl(336, 55%, 55%);
}
.swatches div button#x360 {
  background-color: hsl(0, 0%, 55%);
}

.swatches div button#y0 {
  background-color: hsl(0, 88%, 25%);
}
.swatches div button#y24 {
  background-color: hsl(24, 88%, 25%);
}
.swatches div button#y48 {
  background-color: hsl(48, 88%, 25%);
}
.swatches div button#y72 {
  background-color: hsl(72, 88%, 25%);
}
.swatches div button#y96 {
  background-color: hsl(96, 88%, 25%);
}
.swatches div button#y120 {
  background-color: hsl(120, 88%, 25%);
}
.swatches div button#y144 {
  background-color: hsl(144, 88%, 25%);
}
.swatches div button#y168 {
  background-color: hsl(168, 88%, 25%);
}
.swatches div button#y192 {
  background-color: hsl(192, 88%, 25%);
}
.swatches div button#y216 {
  background-color: hsl(216, 88%, 25%);
}
.swatches div button#y240 {
  background-color: hsl(240, 88%, 25%);
}
.swatches div button#y264 {
  background-color: hsl(264, 88%, 25%);
}
.swatches div button#y288 {
  background-color: hsl(288, 88%, 25%);
}
.swatches div button#y312 {
  background-color: hsl(312, 88%, 25%);
}
.swatches div button#y336 {
  background-color: hsl(336, 88%, 25%);
}
.swatches div button#y360 {
  background-color: hsl(0, 0%, 25%);
}


