body {
  background-image: url("bg-small-basic.png");
  background-attachment: fixed;
}

a.navbar-brand {
  /*font-variant: small-caps;*/
  font-weight: 900;
}

* {
  border-radius: 0;


/* word breaks/hyphenation
 * (TODO: look at Hypenator.js as a better solution?) */

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  /*letter-spacing: 6px;*/
}

p {
  text-indent: 30px;
  text-align: justify;
}

a {
  /*text-decoration: underline;*/
}
a:hover {
/*  letter-spacing: 10px;
  font-weight: bold;*/
  background-color: #ff8;
}

a:active {
  font-style: italic;
}

a:link {
  text-decoration: underline;
  color: #00f;
}

a:visited {
  color: #555;
}

div.banner {
  padding-top: 50px;
}
div.banner .anchor {
  margin-top: -55px;
  padding-top: 55px;
  margin-bottom: 0px;
  /*margin-bottom: 60px;*/
  /*background-color: #ff7;*/
}
div.body {
  padding-top: 10px;
  background-color: #ffe;
}
div.body .anchor {
  margin-top: -55px;
  padding-top: 55px;
  /*padding-bottom: 20px;*/
}
div.body p {
  background-color: #ffe;
}
div.guide {
  padding-top: 10px;
  background-color: #ffe;
  height: 1023px;
}
div.guide p {
  background-color: #ffe;
}
h1, h2, h3, h4 {
  font-weight: bold;
  font-size: 200%;
}
.container .jumbotron {
  border-radius: 0;
  /*background-color: #ff4;*/
  background-color: #44f;
}
div.jumbotron h1 {
  font-weight: 900;
  font-size: 500%;
}

/* Colour swatches (tech demo...) */
.swatches p {
  text-align: center;
}
.swatches p span {
  height: 16px;
  width: 24px;
}

.swatches p span#x0 {
  background-color: hsl(0, 55%, 55%);
}
.swatches p span#x22_5 {
  background-color: hsl(22.5, 55%, 55%);
}
.swatches p span#x45 {
  background-color: hsl(45, 55%, 55%);
}
.swatches p span#x67_5 {
  background-color: hsl(67.5, 55%, 55%);
}
.swatches p span#x90 {
  background-color: hsl(90, 55%, 55%);
}
.swatches p span#x112_5 {
  background-color: hsl(112.5, 55%, 55%);
}
.swatches p span#x135 {
  background-color: hsl(135, 55%, 55%);
}
.swatches p span#x157_5 {
  background-color: hsl(157.5, 55%, 55%);
}
.swatches p span#x180 {
  background-color: hsl(180, 55%, 55%);
}
.swatches p span#x202_5 {
  background-color: hsl(202.5, 55%, 55%);
}
.swatches p span#x225 {
  background-color: hsl(225, 55%, 55%);
}
.swatches p span#x247_5 {
  background-color: hsl(247.5, 55%, 55%);
}
.swatches p span#x270 {
  background-color: hsl(270, 55%, 55%);
}
.swatches p span#x292_5 {
  background-color: hsl(292.5, 55%, 55%);
}
.swatches p span#x315 {
  background-color: hsl(315, 55%, 55%);
}
.swatches p span#x337_5 {
  background-color: hsl(337.5, 33%, 55%);
}

.swatches p span#y0 {
  background-color: hsl(0, 88%, 25%);
}
.swatches p span#y22_5 {
  background-color: hsl(22.5, 88%, 25%);
}
.swatches p span#y45 {
  background-color: hsl(45, 88%, 25%);
}
.swatches p span#y67_5 {
  background-color: hsl(67.5, 88%, 25%);
}
.swatches p span#y90 {
  background-color: hsl(90, 88%, 25%);
}
.swatches p span#y112_5 {
  background-color: hsl(112.5, 88%, 25%);
}
.swatches p span#y135 {
  background-color: hsl(135, 88%, 25%);
}
.swatches p span#y157_5 {
  background-color: hsl(157.5, 88%, 25%);
}
.swatches p span#y180 {
  background-color: hsl(180, 88%, 25%);
}
.swatches p span#y202_5 {
  background-color: hsl(202.5, 88%, 25%);
}
.swatches p span#y225 {
  background-color: hsl(225, 88%, 25%);
}
.swatches p span#y247_5 {
  background-color: hsl(247.5, 88%, 25%);
}
.swatches p span#y270 {
  background-color: hsl(270, 88%, 25%);
}
.swatches p span#y292_5 {
  background-color: hsl(292.5, 88%, 25%);
}
.swatches p span#y315 {
  background-color: hsl(315, 88%, 25%);
}
.swatches p span#y337_5 {
  background-color: hsl(337.5, 88%, 25%);
}

